.conteiner-card-list {
  background-color: #72c7d0;
}

.arrow {
  display: flex;
  justify-content: space-between;
}

.img-menor,
.img-mayor {
  position: relative;
  width: 18px;
  margin: 8px 8px 8px 8px;
}

.card-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  display: flex;
  justify-content: center;
}

.button-prev,
.button-next {
  margin: 8px;
}
