.conteiner-card-list {
  background-color: #72c7d0;
}

.arrow {
  display: flex;
  justify-content: center;
}

.button-img-menor {
  margin: 12px 50px 12px 12px;
  background-color: #d7f2f2;
  border-color: white;
  font-size: 16px;
  font-weight: 200;
  border-radius: 8px;
  text-align: center;
}

.button-img-mayor {
  margin: 12px 12px 12px 50px;
  background-color: #d7f2f2;
  border-color: white;
  font-size: 16px;
  font-weight: 200;
  border-radius: 8px;
  text-align: center;
}

.card-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  display: flex;
  justify-content: center;
}

.button-prev,
.button-next {
  margin: 8px;
}
