.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #96c96a;
}

.footer li:nth-last-child(n) {
  list-style: none;
  color: white;
  margin-bottom: 12px;
  font-weight: 200;
  font-size: 18px;
}

.footer-title {
  font-size: 26px;
  color: white;
  font-weight: 700;
}
